# ex: ft=conf

[flake8]
max-line-length = 100
exclude = venv*,untracked,test
max-complexity = 50
import-order-style = pycharm
application-import-names = ollex

ignore =
    # shadowing a Python builtin
    A003
	# Extra whitespace before : - black will add this
	E203
	# docstring: Imperative mood
	D401
	# docstring: No blank lines allowed after function docstring - crap
	D202
	# W503 is not PEP8: line break before binary operator
	W503
	# flake8-return: don't assign value to var if use only as return value
	R504
	# These are pointlessly annoying and badly implemented
	RST203
	RST303
	RST306
	RST215
	# A module is shadowing a Python builtin module
	# ... bit late to mention it now
	A005
    # Unnecessary else / elif /... after ... -- Annoying and debatable
    R505
    R506
    R507
    R508

per-file-ignores =
    __init__.py: F401,F403
